<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.ac.inhatc.mvc.mapper.BoardMapper">
   <insert id="registUser">
      INSERT INTO user
      (id, pw, name, gender, birthday, email, phone, address)
      VALUES
      (#{id}, #{pw}, #{name}, #{gender}, #{birthday}, #{email}, #{phone}, #{address})
   </insert>
   
   <select id="login" parameterType="String" resultType="hashmap">
      SELECT
         id, pw
      FROM user      

      WHERE id = #{inputUserName}

   </select>
   
   <insert id="registProduct">
      INSERT INTO product
      (pcode, pname, price, detail, company, classification, amount)
      VALUES
      (#{pcode}, #{pname}, #{price}, #{detail}, #{company}, #{classification}, #{amount})
   </insert>
   
   <select id="products" parameterType="String" resultType="hashmap">
      SELECT
         pcode, pname, price, detail, company, classification, amount
      FROM product
      WHERE 1=1
   </select>   
   
   <select id="productDetail" parameterType="String" resultType="hashmap">
      SELECT
         pcode, pname, price, detail, company, classification, amount
      FROM product
      WHERE pcode=#{value}
   </select>      
   
   <update id="updateProduct">
      UPDATE product   
      SET
          pname = #{pname},
          price = #{price},
          detail = #{detail},
          company = #{company},
          classification = #{classification},
          amount = #{amount}
      WHERE pcode = #{pcode}    
   </update>   
   
   <delete id="deleteProduct" parameterType="String">
      DELETE FROM product
        WHERE pcode = #{value}
   </delete>   
   

   
   
<!--    //////////////////////////////////////////////////////// -->
   
  